.single{
    display: flex;
    height: 1000px;
    overflow: hidden;
}

.single-post-container{
    overflow-y: scroll;
    flex: 9;
}

.single-post-container::-webkit-scrollbar{
    display: none;
}

.sidebar-container{
    flex: 3;
}